nav {
    font-size: 50pt;
}
.underlayed-image {
    min-width: 200px;
    height: 400px;
    background-repeat: no-repeat;
    background-image: url("https://akm-img-a-in.tosshub.com/indiatoday/images/story/202001/Breaking_Bad.jpeg?Ifrqi.v01Y0KfAlAyY172HCu8HZTJJvy&size=770:433");
}
.top-row {
    min-height: 200px;
}
.large-input {
    min-height: 100px;
    text-align: start;
}
#container-1 {
    min-height: 30vh;

}
#container-2 {
    min-height: 45vh;
}
#container-3 {
    min-height: 60vh;
}
#container-4 {
    min-height:  60vh;
}
#footer-container-1 {
    min-height: 30vh;
}
#footer-container-2 {
    min-height: 20vh
}
#overlay-col {
    border-width: 2em !important;
    height: min-content;
}
@media (min-width: 992px) {
#icon-blurb-col {
    transform: translateY(120px);
}
}
#navbar-offset {
    height: 67.5px;
}
.light-shadow-left {
    box-shadow: -2px 3px 20px 0px rgba(0,0,0, .8);
    transition: transform 300ms, 
                box-shadow 300ms;
}
.light-shadow-left:hover {
    transform: scale(1.1);
    box-shadow: -5px 7px 40px 0px rgba(0,0,0, .5);
}

.light-shadow-right {
    box-shadow: 2px 3px 20px 0px rgba(0,0,0, .8);
    transition: transform 300ms, 
                box-shadow 300ms;
}
.light-shadow-right:hover {
    transform: scale(1.1);
    box-shadow: 5px 7px 40px 0px rgba(0,0,0, .5);
}


.dark-shadow {
    box-shadow: 0px 3px 30px 2px rgba(0,0,0, .8);
    transition: transform 350ms, 
                box-shadow 350ms;
                
}
.dark-shadow:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 50px 4px rgba(0,0,0, .8);
}
.text-card {
    width: fit-content;
}
.second-image {
    background-image: url("http:placehold.it/700x200");
}
#spillover-offset {
    height: 140px
}
.large-font {
    font-size: 30pt;
}
#large-quote-col {
    height: 50vh;
    height: fit-content;
}
#small-quote-col {
    height: fit-content;
}
#image-overlay-offset {
    height: 75px;
}
.quote-card {
    border-width: 3px !important;
    font-family: 'Nerko One', cursive !important;
    font-weight: 80;
}
.icon-spin:hover {
    animation: fart 2s linear infinite;
}
.icon-spin-always {
    animation: fart 3s linear infinite;
}
@keyframes fart {
    0% { transform: rotateZ(0deg);}
    100% {transform: rotateZ(360deg);}
}